body, html {
  margin:0;
  padding:0;
  height:100%;
}

* {
  box-sizing: border-box;
}

header, footer {
  background-color: #525252;
  padding: 30px;
  width: 100%;
}

nav ul {
  float: left;
  list-style-type: none;
  margin:0;
  padding:0;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  padding: 0 3em;
}

nav {
  border: 0px;
  overflow: hidden;
}

nav img {
  float: left;
}

main {
  margin: 30px auto;
  width: 960px;
}

main ul {
  list-style-type: none;
  margin:0;
  padding:0;
  float: left;
}

main ul li {
  display: inline-block;
  margin: auto;
}

main ul li .card {
  padding: 8px;
}

.card button {
  background-color: #ddd;
}

.card header {
  background: #fff;
  height: 2em;
  width: auto;
}

.card p {
  display: inline-block;
}

.card img {
  display: block;
  margin: 30px auto;
}

.card button:hover {
  background-color: yellow;
}
.text img {
  display: block;
}
.text {
  position: relative;
}

.inside-text {
  bottom: 5%;
  left: 52%;
  position: absolute;
}

#bigtitle {
  font-size: 25px;
}

.button {
  background-color: #ddd;
  border-radius: 10px;
  color: #ddd;
  padding: 20px;
  margin: 20px;
}

a {
  font-size: 20px;
}

.inside-text p {
  font-size: 20px;
  overflow: scroll;
}